@model BS_Core_WepApp.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form asp-action="ForgotPassword" class="login100-form validate-form">
                <div class="logo">
                    <img src="../img/bit-special-icoon.png" alt="Bit Special">
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input asp-for="Email" class="input100" type="text" name="Email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" value="Send recovery email" class="login100-form-btn" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        <strong>
                            <a class="txt1" asp-controller="Home" asp-action="Index">Login</a>
                        </strong>
                    </span>
                </div>
            </form>
            <div class="login100-more_bg_forgot">
            </div>
        </div>
    </div>
</div>